$font-size: 16px;
$vpadding: 13px;
$hpadding: 8px;

$label-font-size: 11px;

$duration: 200ms;
$border-color: hsl(0, 0%, 90%);
$text-color: hsl(0, 0%, 40%);
$background-color: white;
$active-color: hsl(209, 82%, 54%);

.floatl {
  position: relative;
}

.floatl--focused .floatl__label {
  color: $active-color;
}

.floatl--active {
  .floatl__label {
    opacity: 1;
    visibility: visible;
    top: 1px;
  }

  .floatl__input {
    padding: ($vpadding + $hpadding) $hpadding ($vpadding - $hpadding) $hpadding;
  }

  &.floatl--multiline .floatl__label {
    background-color: $background-color;
    background: linear-gradient(to bottom, rgba(white, .95) 0%,
                                           rgba(white, .95) 80%,
                                           rgba(white, 0) 100%);
  }
}

.floatl__label {
  transition: all $duration ease-in-out;
  visibility: hidden;
  opacity: 0;
  position: absolute;
  display: inline-block;
  top: $vpadding;
  left: $hpadding - 3px + 1px;
  padding: 6px 3px 3px 3px;
  font-size: $label-font-size;
  line-height: 1em;
  font-weight: bold;
  color: $text-color;
}

.floatl__input {
  transition: all $duration ease-in-out;
  appearance: none;
  outline: none;
  padding: $vpadding $hpadding;
  font-size: $font-size;
  border: 1px solid $border-color;
  border-radius: 5px;

  &::selection {
    color: white;
    background-color: $active-color;
  }

  &:focus {
    border-color: $active-color;
  }
}
